*{
    box-sizing: border-box;
    margin:0;
    padding :0;
}
body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.main_heading
{
    padding:60px;
    background-image: linear-gradient(to right,orange,yellow);
    text-align:center ;
}
.navbar{
    display:flex;
    background-image: linear-gradient(to right, #ffa17f, #00223e);;
  
}
.navbar ul{
    padding: 12px;
}
.navbar li{
    display: inline;
    padding: 0 55px;
   
}
.navbar a{
    transition: all 0.4s ease 0s;
    text-decoration: none ;
    text-align: center;
    color: whitesmoke;

}
.fakeimg{
    padding: 10px 35px;
    width: 100%;
    text-align: center;
    background-color: grey;
    border-radius: 8px;

}
.flex-row-content{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.sidebar{
    background-color: rgba(128, 128, 128, 0.151);
    padding:25px;
    flex: 25%;
}
.main{
    flex: 75%;
    padding: 26px;
}
footer{
    background-image: linear-gradient(to right, #360033, #0b8793);
    color: black;
    padding: 25px 55px;
    text-align: center;
}
.navbar a:hover{
   color: black;
}
